@using EldenBoost.Extensions;
@using EldenBoost.Infrastructure.Data.Models;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@model ArticleCardViewModel
@inject IAuthorService authorService;

@{
	bool isTheAuthor = await authorService.HasArticleAsync(User.Id(), Model.Id);
	bool isAuthorActive = await authorService.IsActiveAsync(User.Id());
	string typeColor = Model.ArticleType == EldenBoost.Common.Enumerations.ArticleType.News ? "article-card-news" : "article-card-guide";

}

<div class="col-lg-4">
	<div class="card mb-4 custom-card article-card">
		<img class="card-img-top" src="@Model.ImageURL" alt="Article Image">
		<div class="card-body text-center ">
			<h5>@Model.Title</h5>
			<h6 class="@typeColor">- <b>@Model.ArticleType</b> -</h6>
			<a asp-controller="Article" asp-area="" asp-action="Read" asp-route-id="@Model.Id"
			   asp-route-information="@Model.GetArticleInformation()" class="btn btn-fancy-read">Read</a>
			@if (this.User!.Identity!.IsAuthenticated)
			{
				@if ((isTheAuthor && isAuthorActive) || User.IsAdmin())
				{
					<a asp-controller="Article" asp-area="" asp-action="Edit" asp-route-id="@Model.Id"
					   class="btn btn-fancy-edit">Edit</a>
				}
			}
		</div>
	</div>
</div>

