@using EldenBoost.Extensions
@model ServiceAllViewModel
@inject IPlatformService platformService

@{
	var platforms = await platformService.GetAllPlatformsAsync();
}

<div class="col-md-3">
    <div class="card mb-3 custom-card">
        <img class="card-img-top" src="@Model.ImageURL" alt="Service Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>
                Price: <b>@($"{Model.Price:f2}") USD</b>
            </h6>          
            <a asp-controller="Service" asp-area="" asp-action="Details" asp-route-id="@Model.Id"
               asp-route-information="@Model.GetInformation()" class="btn btn-details">Details</a>

            @if (this.User.Identity.IsAuthenticated)
            {
                 @if (User.IsAdmin())
                 {
                      <a asp-controller="Service" asp-area="Admin" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-edit">Edit</a>
                      <form id="delete-form" asp-controller="Service" asp-action="Delete" asp-route-id="@Model.Id" method="post" class="d-inline">
                          <button type="button" class="btn btn-delete" onclick="confirmDelete()">Delete</button>
                      </form>     
	             }
            }
         </div>
     </div>
 </div>
         
