@model IEnumerable<ServiceListViewModel>


@{
    ViewBag.Title = "All Services";
}

@Html.AntiForgeryToken()
<h2 class="text-center" style="margin-top: 80px">@ViewBag.Title</h2>
<hr />

<a href="#" class="btn btn-outline-light" id="show-deactivated">
    Show Deactivated
</a>
<div class="admin-table py-4 px-2 align-self-center">
    <table class="table text-light" style=" margin-bottom: 0;border-radius: 12px;">
        <thead class="text-light">
            <tr>
                <td></td>
                <th><label>Title</label></th>
                <th><label>Price</label></th>
                <th><label>Purcase Count</label></th>
                <th><label></label></th>
                <th><label></label></th>
            </tr>
        </thead>
        <tbody class="text-opacity-75 text-light">
            @foreach (var service in Model)
            {
                <tr>
                    <td><img src="@service.ImageURL" style="width: 74px; object-fit: cover; aspect-ratio: 16/9;" /></td>
                    <td><label>@service.Title</label></td>
                    <td><label>$@service.Price</label></td>
                    <td><label>@service.PurchaseCount</label></td>
                    <td>
                        @if (service.IsActive)
                        {
                            <label>
                                <form asp-controller="Service" asp-action="Deactivate" asp-route-id="@service.Id" method="post" style="display: inline;">
                                    <button type="submit" class="btn btn-outline-danger">Deactivate</button>
                                </form>
                            </label>
                        }
                        else
                        {
                            <label>
                                <form asp-controller="Service" asp-action="Activate" asp-route-id="@service.Id" method="post" style="display: inline;">
                                    <button type="submit" class="btn btn-success">Activate</button>
                                </form>
                            </label>
                        }
                    </td>
                    <td><a asp-controller="Service" asp-action="Edit" asp-route-id="@service.Id" class="btn btn-outline-light">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

 <script src="~/js/service-toggle.js"></script>