@using EldenBoost.Extensions
@model ChatViewModel

@inject IUserService userService;

@{
    ViewData["Title"] = "Order Chat";
    var userId = User.Id();
    string nickname = await userService.GetUserNicknameAsync(userId);
}

<div>
    <h3 style="margin-top:80px" class="text-center">Order #@Model.OrderId Chat</h3>
    <center>
        <div id="messagesList" class="chat-container">
            <div id="messagesList">
                @foreach (var message in Model.Messages)
                {
                    <div class="message-container @(message.Sender.Id == User.Id() ? "sent" : "received")">
                        <div class="message-text">
                            <img src="@message.Sender.ProfilePicture" style="width: 32px; border-radius: 50%; margin-right: 6px;" />
                            <strong style="margin-right: 4px;">@message.Sender.Nickname: </strong>@message.Message
                        </div>
                        <div class="message-timestamp">
                            @message.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")
                        </div>
                    </div>
                }
            </div>
        </div>
    </center>
    @if (!User.IsAdmin())
    {
        <center>
            <div style="display: flex; align-items: center; justify-content: center; gap: 4px; margin-top: 6px;">
                <input type="text" id="messageInput" placeholder="Message" style="width: 300px; padding: 6px; color: var(--main-dark) " />
                <button id="sendButton" class="btn btn-outline-light">Send</button>
            </div>
        </center>
    }
   
</div>

@section Scripts {
    <script>
        const userId = "@userId";
        const receiverId = "@Model.ReceiverId";
        const orderId = @Model.OrderId;
    </script>
    <script src="~/js/chat.js"></script>
}
